.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.bigScreen {
  display: none;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
  /* margin-top: 10%; */
  font-size: 18pt;
  text-shadow: 5px 5px 15px grey;
  padding: auto;
}
p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

li p {
  text-align: left;
}

.links {
  color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}
footer{
  background-color: lightgray;
  margin-top: 5%;
  margin-bottom: -3%;
}

footer a{
  text-align: center;
  color: blue;
}

@media only screen and (min-width: 660px) {
  .bigScreen {
    display: inline;
    margin-bottom: 10px;
  }

  .box_1 {
    position: relative;
    margin-top: 4%;
    margin-bottom: 15%;
  }

  .box_2 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_3 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 10%;
  }

  .box_4 {
    position: relative;
    margin-top: 4%;
    margin-bottom: 15%;
  }
 
  .box_5 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_6 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_7 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_8 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }
 
  .box_9 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 10%;
  }
  .box_10 {
    position: relative;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .box_11 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }
  
  .box_12 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_13 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 5%;
  }
 
  .box_14 {
    position: relative;
    margin-top: 4%;
    margin-bottom: 15%;
  }

  .box_15 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_16 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 15%;
  }

  .box_17 {
    position: relative;
    margin-top: 2%;
    margin-bottom: 5%;
  }



  .floatLeft {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin: none;
    height: 250px;
    width: 250px;
   
  }

  .box_13 ol {
    display: inline-block;
  }
  .box_13 a {
    display: inline-block;
  }
  .floatRight {
    float: right;
    margin-right: 5%;
    margin-left: 3%;
    height: 250px;

  }
}
@media only screen and (min-width: 1000px) {
  .box_1 img {
    box-shadow: 10px 10px grey;
  }
  .box_2 img {
    box-shadow: 10px 10px grey;
  }
  .box_3 img {
    box-shadow: 10px 10px grey;
  }
  .box_4 img {
    box-shadow: 10px 10px grey;
  }
  .box_5 img {
    box-shadow: 10px 10px grey;
  }
  .box_6 img {
    box-shadow: 10px 10px grey;
  }
  .box_7 img {
    box-shadow: 10px 10px grey;
  }
  .box_8 img {
    box-shadow: 10px 10px grey;
  }
  .box_9 img {
    box-shadow: 10px 10px grey;
  }
  .box_10 img {
    box-shadow: 10px 10px grey;'
  }
  .box_11 img {
    box-shadow: 10px 10px grey;
  }
  .box_12 img {
    box-shadow: 10px 10px grey;
  }
  .box_13 img {
    box-shadow: 10px 10px grey;
  }
  .box_14 img {
    box-shadow: 10px 10px grey;
  }
  .box_15 img {
    box-shadow: 10px 10px grey;
  }
  .box_16 img {
    box-shadow: 10px 10px grey;
  }
  .box_17 img {
    box-shadow: 10px 10px grey;
  }
}
@media only screen and (min-width: 1300px){
  .box_1  {
  max-width: 80%;
  }
  .box_2  {
  max-width: 80%;
  float:right;
  }
  .box_3  {
    max-width: 80%;
    display: inline-block;
  }
  .box_4  {
    max-width: 80%;
  }
  .box_5  {
    max-width: 80%;
    float:right;
  }
  .box_6  {
      max-width: 80%;
      float:left;
  }
  .box_7  {
    max-width: 80%;
    float:right;
  }
  .box_8  {
    max-width: 80%;
    float:left;
  }
  .box_9  {
    max-width: 80%;
    margin-left:20%;
    display: inline-block;
    
  }
  .box_10  {
    max-width: 80%;
  }
  .box_11  {
    max-width: 80%;
    float:right;
  }
  .box_12  {
    max-width: 80%;
   float:left;
  }
  .box_13  {
    max-width: 80%;
    display: inline-block;
    margin-left:20%;
  }
  .box_14 {
    max-width: 80%;
  }
  .box_15  {
    max-width: 80%;
    float:right;
  }
  
  .box_16  {
    max-width: 80%;
    float:left;
  }
  .box_17  {
    max-width: 80%;
    display: inline-block;
    margin-left: 20%;
 }
}

.box_1 p,
.box_2 p,
.box_3 p,
.box_4 p,
.box_5 p,
.box_6 p,
.box_7 p,
.box_8 p,
.box_9 p,
.box_10 p,
.box_11 p,
.box_12 p,
.box_13 p,
.box_14 p,
.box_15 p,
.box_16 p,
.box_17 p{
  text-align: left;
}