<html lang="en">
<head>
<title>OurEnvironment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesss.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="index.html" class="w3-bar-item w3-button w3-padding-large">Home</a>
      <a href="ecosystems.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EcoSystems</a>
      <a href="influences.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Influences</a>
      <a href="sustenance.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Sustenance</a>
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="ecosystems.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EcoSystems</a>
    <a href="influences.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Influences</a>
    <a href="sustenance.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Sustenance</a>
  </div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="logo7.jpg" style="width:100%; height: 75%;">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="logo3.jpg" style="width:100%; height: 75%;">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="logo6.jpg" style="width:100%; height: 75%;">
  </div>
  <script src="index.js"></script>
</div>


<!--Intro to the topic-->
<h1>Our EcoSystems</h1>
<p>An ecosystem is a geographic area where plants, animals, and other organisms, as well as weather and landscape, work together to form a bubble of life. Ecosystems contain biotic or living, parts, as well as abiotic factors, or nonliving parts. Biotic factors include plants, animals, and other organisms. Abiotic factors include rocks, temperature, and humidity.<br>According to the type of vegetation that mainly characterizes them, ecosystems can be recognized and divided into:</p>
<!--main body descriding the idea in brief-->
<ul>
  <div class="box_4">
    <div class="bigScreen">
      <img class="floatRight" src="forest_2.jpg">
    </div>
    <li><h3>Forest EcoSystems</h3><p>&emsp;Forest ecosystems are classified according to their climate type as tropical, temperate or boreal. In the tropics, rainforest ecosystems contain more diverse flora and fauna than ecosystems in any other region on earth. In these warm, moisture-laden environments, trees grow tall and foliage is lush and dense, with species inhabiting the forest floor all the way up to the canopy. In temperate zones, forest ecosystems may be deciduous, coniferous or oftentimes a mixture of both, in which some trees shed their leaves each fall, while others remain evergreen year-round. In the far north, just south of the Arctic, boreal forests – also known as taiga – feature abundant coniferous trees.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li>
  </div>
    
  <div class="box_5">
    <div class="bigScreen">
      <img class="floatLeft" src="grassland.jpg">
    </div>
    <li><h3>Grassland Ecosystems</h3><p>&emsp;Different types of grassland ecosystems can be found in prairies, savannas and steppes. Grassland ecosystems are typically found in tropical or temperate regions, although they can exist in colder areas as well, as is the case with the well-known Siberian steppe. Grasslands share the common climactic characteristic of semi-aridity. Trees are sparse or nonexistent, but flowers may be interspersed with the grasses. Grasslands provide an ideal environment for grazing animals.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li>
  </div>

    <div class="box_6">
      <div class="bigScreen">
        <img class="floatRight" src="desert.jpg">
      </div>
    <li><h3>Desert Ecosystems</h3><p>&emsp;The common defining feature among desert ecosystems is low precipitation, generally less than 25 centimeters, or 10 inches, per year. Not all deserts are hot – desert ecosystems can exist from the tropics to the arctic, but regardless of latitude, deserts are often windy. Some deserts contain sand dunes, while others feature mostly rock. Vegetation is sparse or nonexistent, and any animal species, such as insects, reptiles and birds, must be highly adapted to the dry conditions.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li>
  </div>
    <div class="box_7">
      <div class="bigScreen">
        <img class="floatLeft" src="tundra.jpg">
      </div>
      <li><h3>Tundra Ecosystems</h3><p>&emsp;As with deserts, a harsh environment characterizes ecosystems in the tundra. In the snow-covered, windswept, treeless tundra, the soil may be frozen year-round, a condition known as permafrost. During the brief spring and summer, snows melt, producing shallow ponds which attract migrating waterfowl. Lichens and small flowers may become visible during this time of year. The term “tundra” most commonly denotes polar areas, but at lower latitudes, tundra-like communities known as alpine tundra may be found at high elevations.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li></div>
      
      <div class="box_8">
        <div class="bigScreen">
          <img class="floatRight" src="Freshwater.jpg">
        </div>
    <li><h3>Freshwater Ecosystems</h3><p>&emsp;Freshwater ecosystems can be found in streams, rivers, springs, ponds, lakes, bogs and freshwater swamps. They are subdivided into two classes: those in which the water is nearly stationary, such as ponds, and those in which the water flows, such as creeks. Freshwater ecosystems are home to more than just fish: algae, plankton, insects, amphibians and underwater plants also inhabit them.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li></div>

    <div class="box_9">
      <div class="bigScreen">
        <img class="floatLeft" src="marine.jpg">
      </div>    
    <li><h3>Marine Ecosystems</h3><p>&emsp;Marine ecosystems differ from freshwater ecosystems in that they contain saltwater, which usually supports different types of species than does freshwater. Marine ecosystems are the most abundant types of ecosystems in the word. They encompass not only the ocean floor and surface but also tidal zones, estuaries, salt marshes and saltwater swamps, mangroves and coral reefs.<a href="https://sciencing.com/10-examples-natural-ecosystem-7836.html" style="color:blue"><i>Click here for more information.</i></a></p></li></div>
</ul>
<footer>
  <p>&copy; Copyright 2021, Binamra Aryal. All rights Reserved.|Template<a href="https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_band&stacked=h" style="color: blue"> w3schools</a><BR></p>
  <p><a href="#" style="text-align: center;">Phi beta lambda</a></p>
  </footer>
</body>

</html>